.myscroll {
  height:320px;
  overflow-y: auto;
}

.mybg-padasuka-soft {
  background-color: rgb(3, 167, 24);
}

.ownerMenuCircle {
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

.ownerMenuCircle:hover {
    background-color: rgb(3, 167, 24);
    transform: rotateY(180deg);
    transition: 1s;
}
